{% extends "base.html" %}

{% block title %} Travel Dashboard {% endblock %}

{% block navbar %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    <div class="row mt-5">  
        <h4> {{this_travel.destination}}</h4>
        <div class="col-10 offset-1" >
            <div>Planned By: <span class="fw-bold" >{{this_travel.planner.name}}</span></div>
            <div>Description: <span class="fw-bold" >{{this_travel.description}}</span> </div>
            <div>Travel Date From: <span class="fw-bold" >{{this_travel.date_from}}</span> </div>
            <div>Travel Date To: <span class="fw-bold" >{{this_travel.date_to}}</span></div>
        </div>
    </div>

    <div class="row mt-5">  
        <h4> Other users' joining in the trip</h4>
        <div class="col-10 offset-1 mt-3" >
            {% for guest in guests %}
                <ul>
                    <li>{{guest.name}}</li>
                </ul>  
            {% endfor %}
        </div>
    </div>



{% endblock %}